
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Usuario/Login">Login</a><br />
        <a href="/Usuario/Cadastro">Cadastar Usuario</a><br />
        <a href="/Cliente/Cadastro">Cadastrar Cliente</a><br />
        <a href="/Cliente/Consulta">Consultar Cliente</a>
    </div>
</body>
</html>
